
{% extends 'base.html' %}

{% block body %}

    <div class="container">
<h1 style="text-align: center;">Unviversity Management System</h1>
    </div>

<div class="container" >
    <br>
    <br>
    <div class="row">
        <div id="photo"></div>
        <div class="col-md-4 col-md-offset-4">
            <form class="well form-horizontal" action=" " method="post"  id="contact_form" method=POST action="{{ url_for('insertData') }}">
                <div class="form-group">

                    <h3>General Info</h3>
                    <label >First Name</label>
                    <input type="text" class="form-control" name="first_Name" placeholder="First Name">
                    <label >Last Name</label>
                    <input type="text" class="form-control" name="last_Name" placeholder="Last Name">
                    <label >Gender</label>
                    <input type="text" class="form-control" name="gender" placeholder="Gender">

                    
                </div>
                <div class="form-group">
                    <h3>Info</h3>
                    <label >Email Id</label>
                    <input type="email" class="form-control" name="email_id" placeholder="Email Id">
                    <label >SSN</label>
                    <input type="number" class="form-control" name="ssn" placeholder="SSN">
            
                </div>
                
                
                <div class="form-group">
                    <h3>Address</h3>
                    <label >State</label>
                    <input type="text" class="form-control" name="state" placeholder="State">
                    <label >City</label>
                    <input type="text" class="form-control" name="city" placeholder="City">
                    <label >Zip code</label>
                    <input type="number" class="form-control" name="zip" placeholder="Zip Code">

                </div>

                <div class="form-group">
                    <h3>Personal Info</h3>
                    <label >Phone Number</label>
                    <input type="number" class="form-control" name="mobile_number" placeholder="Mobile Number">
                    <label >Date of Birth</label>
                    <input type="text" class="form-control" name="date_of_birth" placeholder="Date of Birth">
                
                </div>    
                    
                    

               <div>
                <button type="submit" class="btn btn-primary btn-block">Add Student</button>
               </div>
                
               
            </form>
            <br>
            
        </div>
        
    </div>
</div>



{% 
endblock %}

